---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* Variables Modifications by Aleksandar */

$serif: "Atkinson Hyperlegible Next", Georgia, Times, serif !default;
$sans-serif:
    "Atkinson Hyperlegible Next",
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    Arial,
    sans-serif !default;

/* Variables Modifications by Aleksandar */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Feature Row Modifications (Software Page) by Aleksandar */

.feature__item {
    &--left_customized {
        font-size: $h-size-3;
        float: inline-start;

        .archive__item {
            float: inline-start;
        }

        .archive__item-teaser {
            float: inline-start;
            width: span(2 of 12);
        }

        .archive__item-body {
            float: inline-end;
            width: span(10 of 12);
            padding-inline-start: gutter(0.5 of 12);
            padding-inline-end: gutter(1 of 12);
        }
    }
}

/* Align Image with Caption Right Modification (About Page) by Aleksandar */
.align-right-new {
    display: block;
    margin-inline: auto;
    max-width: 500px;

    @include breakpoint($small) {
        float: right;
        margin-left: 1em;
    }
}

/* Sidebar Modifications by Aleksandar */
.author__bio {
    margin: 0;

    @include breakpoint($large) {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

.sidebar {
    p,
    li {
        font-family: $sans-serif;
        font-size: $type-size-8;
        line-height: 1.5;
    }
}

.author__avatar {
    img {
        max-width: 180px;
        border-radius: 50%;

        @include breakpoint($large) {
            padding: 5px;
            border: 1px solid $border-color;
        }
    }
}

/* Footer Modifications by Aleksandar */

.page__footer {
    background-color: $background-color;
}

/* Utilities Modifications by Aleksandar */

.social-icons {
    .fas,
    .fab,
    .far,
    .fal {
        /* color: $text-color; */
        color: #000000;
    }
}

/* Notice Modifications by Aleksandar for abstracts in publications */
.notice {
    font-size: $type-size-5 !important; /* Ensures inner paragraphs match */
}

/* Small Font Size Modifications by Aleksandar non-hardcoded small text */
.small-text {
    font-size: $type-size-6 !important;
}

.medium-text {
    font-size: 0.85em !important;
}

/* Mimic of archive years for the Research page. Modifications by Aleksandar */
.archive_subtitle_new {
    margin: 1.414em 0 0.3em;
    padding-top: 0.5em;
    font-size: $type-size-5;
    font-weight: bold;
    color: $muted-text-color;
}

/* Publications archive adding bottom margin. Modifications by Aleksandar */
.taxonomy__index {
    padding-bottom: 3em;
}
