---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    color: #161616;
}


ul {
  list-style-type: circle;
}

a:link {
  color: #010101;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
    color: #777;
    text-decoration: none;
    border: 5px transparent #888;
    border-radius: 35px;
}

a:visited {
  color: #777;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

aside {
    float: left;
    padding: 3%;
    width: 24%;
    text-align:center;
    position:relative;
}

aside img{
    border-radius: 25%;
    height: auto;
    max-width: 100%;
    width: 30vw;
}

asside .button{
  color: #333;
  background: #fff;
  margin:10px auto;
  display:inline-block;
}

asside .button .icon{
  display: block;
  text-align: left;
  transition: all 0.3s ease-out;
  padding: 0 0 0 30%;
}

asside .button .icon a:active{
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

asside .button .icon a:link{
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

asside .button .icon a:visited{
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

asside .button .icon a:hover{
  color: #777;
  background-color: transparent;
  text-decoration: none;
}

#container{
    margin: 100px auto;
    max-width: 1000px;
    font-family: "Titillium Web";
}

nav {
    width: 60%;
    background-color: #fff;
    padding: 0 30% 0 30%;
    font-weight: bold;
    font-size: small;
}
nav ul li {
    display: inline-block;
    padding: 15px 1.5% 15px 1.5% ;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

nav ul li a:link {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

nav ul li a:hover {
    color: #333;
    background-color: #ededed;
    text-decoration: none;
    border: 5px transparent #888;
    border-radius: 35px;
}

nav ul li a:visited {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

nav ul li a:active {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}


#content {
    float: right;
    padding: 3%;
    width: 64%;
}


footer{
    width: 94%;
    padding: 3%;
    font-size: small;
    background-color: transparent;
    color: #555;
    text-align: right;
}

@media all and (max-width : 768px) {
    header {
        text-align: center;
    }
    nav {
        text-align: center;
    }
    #content {
        width: 94%;
        padding: 3%;
    }
    #sidebar {
        width: 94%;
        padding: 3%;
    }
}

@media all and (max-width : 330px) {
    nav ul li {
        display:block;
        width: 94%;
    }
}


$switch-speed: 1s;
$slider-number: 35;  // OVO OBAVEZNO PROMENITI !!!!!!!!!!!!!
$slider-width: 100% / $slider-number;

$image1: '../assets/Kompresovani/pyramids.jpg';
$image2: '../assets/Kompresovani/camel.jpg';
$image3: '../assets/Kompresovani/noah.jpg';
$image4: '../assets/Kompresovani/the_child.jpg';
$image5: '../assets/Kompresovani/forrest.jpg';
$image6: '../assets/Kompresovani/hermione.jpg';
$image7: '../assets/Kompresovani/snape.jpg';
$image8: '../assets/Kompresovani/aragorn.jpg';
$image9: '../assets/Kompresovani/the_notebook.jpg';
$image10: '../assets/Kompresovani/rose.jpg';
$image11: '../assets/Kompresovani/princess.jpg';
$image12: '../assets/Kompresovani/arwen.jpg';
$image13: '../assets/Kompresovani/tauriel.jpg';
$image14: '../assets/Kompresovani/venus.jpg';
$image15: '../assets/Kompresovani/clavicula.jpg';
$image16: '../assets/Kompresovani/david.jpg';
$image17: '../assets/Kompresovani/lucifer.jpg';
$image18: '../assets/Kompresovani/skull.jpg';
$image19: '../assets/Kompresovani/baby.jpg';
$image20: '../assets/Kompresovani/hercules.jpg';
$image21: '../assets/Kompresovani/cleopatra.jpg';
$image22: '../assets/Kompresovani/anger.jpg';
$image23: '../assets/Kompresovani/lips.jpg';
$image24: '../assets/Kompresovani/eyes.jpg';
$image25: '../assets/Kompresovani/waltz.jpg';
$image26: '../assets/Kompresovani/her.jpg';
$image27: '../assets/Kompresovani/ballerina.jpg';
$image28: '../assets/Kompresovani/stairs.jpg';
$image29: '../assets/Kompresovani/museum.jpg';
$image30: '../assets/Kompresovani/saturn.jpg';
$image31: '../assets/Kompresovani/face_elements.jpg';
$image32: '../assets/Kompresovani/acropolis.jpg';
$image33: '../assets/Kompresovani/nautilus.jpg';
$image34: '../assets/Kompresovani/church.jpg';
$image35: '../assets/Kompresovani/b_portrait.jpg';

*::before,
*::after {
  box-sizing: border-box;
}

.outer-wrapper {
  width: 100%;
}

// basic styles
.s-wrap {
  width: 100%;
  padding-bottom: 80%;
  position: relative;
  background-color: #fff;
  overflow: hidden;

  > input {
    display: none;
  }

  .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% * $slider-number;
    height: 90%;
    font-size: 0;
    list-style: none;
    transition: transform $switch-speed;
  }

  .s-item {
    display: inline-block;
    width: $slider-width;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .s-item-1 {background-image: url($image1);}
  .s-item-2 {background-image: url($image2);}
  .s-item-3 {background-image: url($image3);}
  .s-item-4 {background-image: url($image4);}
  .s-item-5 {background-image: url($image5);}
  .s-item-6 {background-image: url($image6);}
  .s-item-7 {background-image: url($image7);}
  .s-item-8 {background-image: url($image8);}
  .s-item-9 {background-image: url($image9);}
  .s-item-10 {background-image: url($image10);}
  .s-item-11 {background-image: url($image11);}
  .s-item-12 {background-image: url($image12);}
  .s-item-13 {background-image: url($image13);}
  .s-item-14 {background-image: url($image14);}
  .s-item-15 {background-image: url($image15);}
  .s-item-16 {background-image: url($image16);}
  .s-item-17 {background-image: url($image17);}
  .s-item-18 {background-image: url($image18);}
  .s-item-19 {background-image: url($image19);}
  .s-item-20 {background-image: url($image20);}
  .s-item-21 {background-image: url($image21);}
  .s-item-22 {background-image: url($image22);}
  .s-item-23 {background-image: url($image23);}
  .s-item-24 {background-image: url($image24);}
  .s-item-25 {background-image: url($image25);}
  .s-item-26 {background-image: url($image26);}
  .s-item-27 {background-image: url($image27);}
  .s-item-28 {background-image: url($image28);}
  .s-item-29 {background-image: url($image29);}
  .s-item-30 {background-image: url($image30);}
  .s-item-31 {background-image: url($image31);}
  .s-item-32 {background-image: url($image32);}
  .s-item-33 {background-image: url($image33);}
  .s-item-34 {background-image: url($image34);}
  .s-item-35 {background-image: url($image35);}
}

.s-type-1 {
  .s-control {
    position: absolute;
    bottom: 0px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

    > label[class^="s-c-"] {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 2px;
      border-radius: 50%;
      border: 2px solid #ddd;
      background-color: #fff;
      cursor: pointer;
      opacity: 30%;
    }
  }

  .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translateY(-90%);
    cursor: pointer;
    opacity: 40%;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 24px;
      background-color: #ddd;
    }

    &::before {margin-bottom: -12px;}

    &.left {
      left: 20px;

      &::before {transform: rotate(45deg);}

      &::after {transform: rotate(-45deg);}
    }

    &.right {
      right: 20px;

      &::before {transform: rotate(-45deg);}

      &::after {transform: rotate(45deg);}
    }
  }

  @for $i from 1 through $slider-number {
    #s-#{$i}:checked {
      & ~ .s-content {transform: translateX(-$slider-width * ($i - 1));}

      & ~ .s-control .s-c-#{$i} {background-color: #333;}

      & ~ .s-nav .s-nav-#{$i} {display: block;}
    }
  }
}


