---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

img{
    border-radius: 40%;
}

a:link {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a:visited {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #333;
  background-color: #transparent;
  text-decoration: none;
}


.button{
  display: block;
  color: #333;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button .icon{
  display: block;
  text-align: center;
  transition: all 0.3s ease-out;
}

.button .icon a{
  transition: all 0.3s ease-out;
}
.button:hover .icon a{
  color: #333;
}


#container{
    margin: 100px auto;
    max-width: 800px;
    font-family: "Titillium Web";
}

nav {
    width: 60%;
    background-color: #fff;
    padding: 0 30% 0 30%;
    font-weight: bold;
    font-size: small;
}
nav ul li {
    display: inline-block;
    padding: 15px 1.5% 15px 1.5% ;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

nav ul li a:link {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

nav ul li a:hover {
    color: #333;
    background-color: #ededed;
    text-decoration: none;
}

nav ul li a:visited {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

nav ul li a:active {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}


#content {
    float: right;
    padding: 3%;
    width: 64%;
}

aside {
    float: left;
    padding: 3%;
    width: 24%;
    text-align: center;
    
}

footer{
    width: 94%;
    padding: 3%;
    font-size: small;
    background-color: transparent;
    color: #555;
    text-align: right;
}

@media all and (max-width : 768px) {
    header {
        text-align: center;
    }
    nav {
        text-align: center;
    }
    #content {
        width: 94%;
        padding: 3%;
    }
    #sidebar {
        width: 94%;
        padding: 3%;
    }
}

@media all and (max-width : 330px) {
    nav ul li {
        display:block;
        width: 94%;
    }
}





