$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-github: "\f09b";
$icon-envelope: "\f0e0";
$icon-linkedin: "\f0e1";
$icon-instagram: "\f16d";

