 <!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <head>
	<link rel="stylesheet" href="../assets/style.css">
	  {% seo %}
	  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-N20Z376S78"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-N20Z376S78');
	</script>
  </head>

  <body>
    
    <div id="container">
    <!-- Navigation -->
    <nav id="menu" class="clearfix">
        <ul>
		<li><a class="active" href="about.html">ABOUT</a></li>
		<li><a href="research.html">RESEARCH</a></li>
		<li><a href="software.html">SOFTWARE</a></li>
		<li><a href="drawings.html">DRAWINGS</a></li>
		<li><a href="cv.html" target="_blank" rel="noopener noreferrer">CV</a></li>
        </ul>
    </nav> 
    <!-- Main Content area -->

    <section id="content">
	<main class="page-content" aria-label="Content">
      		<div class="wrapper">
        		{{ content }}
	        </div>
	            <!-- Footer -->
		    <footer id="footer" class="clearfix">
			©  2021
		    </footer>
        </main>
        
    </section>

    <!-- Sidebar -->

    <aside  id="sidebar">
        <img src="../assets/profile-small-01.jpg" href="index.markdown" alt="Profile image" >
	   <h1>Aleksandar Anžel</h1>
	   
   		<div class="button">
			<div class="icon">
		<a href="mailto:aleksandar.anzel@uni-marburg.de"><i class="icon-envelope"></i>&emsp;E-Mail</a></div>
		      </div>
	        <div class="button">
			<div class="icon">
		<a href="https://github.com/AAnzel" target="_blank" rel="noopener noreferrer"><i class="icon-github"></i>&emsp;GitHub</a></div>
		      </div>
		<div class="button">
			<div class="icon">
		<a href="https://twitter.com/AleksandarAnzel" target="_blank" rel="noopener noreferrer"><i class="icon-twitter"></i>&emsp;Twitter</a></div>
		      </div>
		<div class="button">
			<div class="icon">
		<a href="https://www.linkedin.com/in/aanzel/" target="_blank" rel="noopener noreferrer"><i class="icon-linkedin"></i>&emsp;LinkedIn</a></div>
		      </div>
    </aside>
    
  </body>

</html>
