 <!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <head>
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>

    {%- include header.html -%}
    <div class="sidebar">
	   
	   <img src="../assets/profile-small.jpg" alt="Profile image">


   		<div class="button">
			<div class="icon">
		<i class="fa fa-envelope"></i></div>
		      </div>
	        <div class="button">
			<div class="icon">
		<i class="fab fa-github"></i></div>
		      </div>
		<div class="button">
			<div class="icon">
		<i class="fab fa-twitter"></i></div>
		      </div>
		<div class="button">
			<div class="icon">
		<i class="fab fa-linkedin"></i></div>
		      </div>
	    </div>
   </div>
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
