 <!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <head>
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    
    <div id="container">
    <!-- Navigation -->
    <nav id="menu" class="clearfix">
        <ul>
		<li><a class="active" href="about.html">ABOUT</a></li>
		<li><a href="research.html">RESEARCH</a></li>
		<li><a href="projects.html">PROJECTS</a></li>
		<li><a href="drawings.html">DRAWINGS</a></li>
		<li><a href="cv.html">CV</a></li>
        </ul>
    </nav> 
    <!-- Main Content area -->

    <section id="content">
	<main class="page-content" aria-label="Content">
      		<div class="wrapper">
        		{{ content }}
	        </div>
	            <!-- Footer -->
		    <footer id="footer" class="clearfix">
			©  Aleksandar Anžel 2020
		    </footer>
        </main>
        
    </section>

    <!-- Sidebar -->

    <aside  id="sidebar">
        <img src="../assets/profile-small.jpg" href="index.markdown" alt="Profile image" >
	   <h1>Aleksandar Anžel</h1>
	   
   		<div class="button">
			<div class="icon">
		<a href="mailto:aleksandar.anzel@gmail.com" class="fa fa-envelope"></a></div>
		      </div>
	        <div class="button">
			<div class="icon">
		<a href="https://github.com/AAnzel" class="fab fa-github"></a></div>
		      </div>
		<div class="button">
			<div class="icon">
		<a href="https://twitter.com/AleksandarAnzel" class="fab fa-twitter"></a></div>
		      </div>
		<div class="button">
			<div class="icon">
		<a href="https://www.linkedin.com/in/aanzel/" class="fab fa-linkedin"></a></div>
		      </div>
    </aside>
    
  </body>

</html>
